SUPABASE_URL=https://yozfzsudbcqjttepjnyg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://yozfzsudbcqjttepjnyg.supabase.co

SECOND_SUPABASE_URL=https://cnfqpfynjpwlzdtblzps.supabase.co
SECOND_SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SECOND_SUPABASE_URL=https://cnfqpfynjpwlzdtblzps.supabase.co
NEXT_PUBLIC_SECOND_SUPABASE_ANON_KEY=
